@page "/list"

@using MediatR
@using Thinning.Application.Test.Query.GetTestList
@using Thinning.Domain.Dao.Test

@inject IMediator _mediator

<h3>Details</h3>

@code {

    IEnumerable<TestDto> items;
    int size;

    protected override async Task OnInitializedAsync()
    {
        
        var grid = await _mediator.Send(new GetTestListQuery());
        items = grid.List;
    }
}
